*{
 
    padding: 0%;
}
body{
    background-color: black;
}

.navbar{
    display: flex;
    background-color:#0c0c0c;;
box-shadow: 4px 6px 8px white;  
}

.logo img{
    filter: invert(100%);
}
#item{
   display: none;
     
}
ul li {
    margin: 8px;
    padding: 2px;
    list-style: none;
}
a{
    font-size: 1em;
    font-weight: bold;
    color: rgb(244, 246, 248);
    text-decoration: none;

} #item :hover {
    text-shadow: 2px;
    font-size: 1em ;
    background-color: brown;
    color: whitesmoke;
}

@media  (min-width: 760px){
    .icon{

          display: flex;
          align-items: center;
          justify-content:flex-start;
          width:35% ;
          color: white;
          font-weight: bold;
              font-size: 1.6em;
        }
        #item{
           
          display: flex;
          align-items: center;
          justify-content:flex-end;
          width: 50% ;
          color: white;
          font-weight: bold;
              font-size: 1em;
        }
    }
    @media (max-width: 760px) and (min-width: 0px){
    
        #menu{
            display: block;
            width: 45px;
            height: 55px;
            cursor: pointer;
            transition: 0.3 ease;
           
        }
         .bar{
            background-color: white;
            display: block;
            width: 100%;
            height: 6px;
            margin: 4px;
            border-radius: 2px;
            transition: 0.4 ease;
        }
            .icon{
                font-size: 1em;
               display: flex;
               align-items: center;
               justify-content: flex-start;
                font-weight: 400;
                color: white;
                text-shadow: 2px 2px black;
                
            }
            .navbar{
                flex-direction: column;
            }
            
         
         ul li {
            margin-top: 8px;
             padding: 2px;
             list-style: none;
        
         }
         a{
             font-size: 1em;
             font-weight: bold;
             color: rgb(244, 246, 248);
             text-decoration: none;
         
         }
         .logo{
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
         
        
         }